// Place all the styles related to the Weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.error {
	margin-left: 10px;
	color: rgb(204, 50, 50);
}
footer {
	margin-top:20px;
}